:root {
  --clr-pri: #fcdb00;
  --clr-sec: #010101;
  --clr-ter: #313841;
  --clr-text: #555555;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

.heroImg {
  background-color: var(--clr-pri);
  padding: 60px 0 110px;
}

.navbar-default.mainNavbar {
  background-color: transparent;
  border-color: transparent;
}

.mainNavbar .navbar-nav > li > a {
  color: var(--clr-sec);
  font-size: 22px;
  text-transform: capitalize;
  font-weight: bold;
}

.mainNavbar .navbar-brand {
  padding: 0 15px;
}

.navbar.mainNavbar {
  margin-bottom: 60px;
}
.inspiration {
  padding-top: 70px;
}
.pri-heading {
  color: var(--clr-sec);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}

.sec-heading {
  color: var(--clr-ter);
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 25px;
}

.para {
  color: var(--clr-text);
  margin-bottom: 40px;
}

.icons-list {
  padding: 0;
}

.icons-list li {
  display: inline-block;
  margin-right: 40px;

}

.icons-list li a i {
    color: var(--clr-sec);
}