
.heroImg {
  background-color: var(--clr-pri);
  padding: 60px 0 110px;
}

.navbar-default.mainNavbar {
  background-color: transparent;
  border-color: transparent;
}

.mainNavbar .navbar-nav > li > a {
  color: var(--clr-sec);
  font-size: 22px;
  text-transform: capitalize;
  font-weight: bold;
}

.mainNavbar .navbar-brand {
  padding: 0 15px;
}

.navbar.mainNavbar {
  margin-bottom: 60px;
}
.inspiration {
  padding-top: 70px;
}


.icons-list {
  padding: 0;
}

.icons-list li {
  display: inline-block;
  margin-right: 40px;

}

.icons-list li a i {
    color: var(--clr-sec);
}



/* ############css for feature section starts here ##########  */

.feature{
    padding: 120px 0 75px;
}

.ourThumbnail{
  margin-bottom: 90px;
}

